<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 box-shadow text-center p-5 category-card" routerLink="/categories">
                <h1><i class="fa-solid fa-rectangle-list"></i></h1>
                <h2 class='my-3' class="text-primary"> Categories </h2>
                <p> Manage your categories here</p>
            </div>
        </div>
    </div>
</section>

<!-- 
     routerLink="/categories" on clicking add the categories word after the main part of the url => http://localhost:4300/categories
 -->