<section>
    <div class="container">
        <div class="row">
            <!-- Categories -->
            <div class="col-md-4 box-shadow text-center p-5 m-2 category-card" routerLink="/categories">
                <h1><i class="fa-solid fa-rectangle-list"></i></h1>
                <h2 class='my-3' class=""> Categories </h2>
                <p> Here you can Manage your categories </p>
            </div>

            <!-- Posts -->
            <div class="col-md-4 box-shadow text-center p-5 m-2 category-card" routerLink="/posts">
                <h1><i class="fa-solid fa-file-image"></i></h1>
                <h2 class='my-3' class=""> Posts </h2>
                <p> Here you can Manage your Posts</p>
            </div>
        </div>
    </div>
</section>

<!-- 
     routerLink="/categories" on clicking add the categories word after the main part of the url => http://localhost:4300/categories
 -->